// Import background images
@import url('https://example.com/background-image.jpg');
@import url('https://example.com/another-background-image.jpg');


  mat-tab-group {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    padding: 10px;
    width: 440px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    font-size: 25px !important;
  }
  .textLabel{
    margin: 5px; font-size: 20px;
  }
  .blurBody{
    backdrop-filter: blur(10px);
background-color: rgba(255, 255, 255, 0.2);
height: 100%; width: 100%;
display: flex;
align-items: center;
text-align: center;
  }
body {
  background: url('../../assets/background/horizontal_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: Arial, sans-serif;


  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
}
.color{
  color: red !important;
}
.formclass{
width: 390px;
height: 420px;
display: flex;
flex-direction: column;
justify-content: space-around;
align-content: center;
text-align: left;
padding: 20px;
margin: auto;
border: 1px solid rgba(255, 255, 255, .25);
border-radius: 20px;
background-color: rgba(255, 255, 255, 0.45);
box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

backdrop-filter: blur(15px);}
// ...

::ng-deep .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label{
  color: #f44336 !important;
}
::ng-deep .mat-mdc-tab .mdc-tab-indicator__content--underline{
  border-color: #f44336 !important;
}
::ng-deep .mdc-tab-indicator {
  display: none !important;}
.field-input {
  position: relative;
  display: flex;
  flex-direction: column;

  input {
    padding: 10px;
    border: none;
    border-radius: 25px; // Make it capsule
    background: rgba(255, 255, 255, 0.9); // Adjust background color
    outline: none;
    font-size: 16px;
    color: black;
    transition: background 0.3s, box-shadow 0.3s;

    &:focus {
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); // Add focus effect
      background: rgba(255, 255, 255, 1); // Adjust background color on focus
    }
  }

  // ...
}

.capsule-button{
  margin-top: 15px !important;
}
@media (max-width: 600px) {
  
  mat-tab-group {
    width: 340px;
  }
.formclass{
  width: 300px;
  height: 365px;
}
}
